<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="book">
    <select id="bookList" resultType="kr.co.haebop.domain.Book">
        select * from book
    </select>


    <insert id="bookInsert" parameterType="book">
        insert into book (bkcode, bktitle,bindex,pubdate,author,price,memo)
        VALUES (UUID(), #{bktitle},#{bindex},#{pubdate},#{author},#{price},#{memo})
        <selectKey resultType="int" keyProperty="bkno" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="fileRegister" parameterType="teacher">
        insert into fileinfo2 (bkno, savefolder, originfile, savefile)
        values
        <foreach collection="fileInfos" item="fileinfo4" separator=" , ">
            (#{seq}, #{fileinfo2.saveFolder}, #{fileinfo2.originFile}, #{fileinfo2.saveFile})
        </foreach>
    </insert>

    <delete id="bookDelete">
        delete from book where bkno=#{bkno}
    </delete>

    <select id="bookDetail" resultType="kr.co.haebop.domain.Book">
        select * from book where bkno=#{bkno}
    </select>
    

</mapper>