<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lecture">
    <select id="lectureList" resultType="kr.co.haebop.domain.Lecture">
        select * from lecture
    </select>
    <insert id="lectureInsert" parameterType="lecture">
        insert into lecture(leccode,lectitle,stno,cate)
        VALUES (UUID(), #{lectitle},#{stno},#{cate})
        <selectKey resultType="int" keyProperty="lecno" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="lectureDelete">
        delete from lecture where lecno=#{lecno}
    </delete>

    <select id="lectureDetail" resultType="kr.co.haebop.domain.Lecture">
        select * from lecture where lecno=#{lecno}
    </select>

    <update id="countUp">
        update lecture set lectitle=#{lectitle}, content=#{content} where lecno=#{lecno}
    </update>

    <insert id="fileRegister" parameterType="lecture">
        insert into fileInfo3 (lecno, savefolder, originfile, savefile)
        values
        <foreach collection="fileInfos" item="fileInfo3" separator=" , ">
            (#{lecno}, #{fileInfo3.saveFolder}, #{fileInfo3.originFile}, #{fileInfo3.saveFile})
        </foreach>
    </insert>
    <select id="listArticle" parameterType="map" resultMap="lectureList">
        select lecno, cate, stno, leccode
        from teacher
        <if test="word != null and word != ''">
            <if test="key == 'tname'">
                where rirle like concat('%', #{word}, '%')
            </if>
            <if test="key != 'tname'">
                where ${key} = #{word}
            </if>
        </if>
        order by lecno desc
        limit #{start}, #{spp}
    </select>
    <resultMap type="lecture" id="lectureList">
        <result property="lecno" column="lecno"/>
        <result property="lectitle" column="lectitle"/>
        <result property="leccode" column="leccode"/>
        <result property="stno" column="stno"/>
        <result property="cate" column="cate"/>
        <collection property="fileInfos" column="lecno" javaType="list" ofType="FileInfo3" select="fileInfos"/>
    </resultMap>

    <select id="lectureSelect" resultType="kr.co.haebop.domain.Lecture">
        SELECT * FROM lecture WHERE leccode IN (#{leccode1}, #{leccode2}, #{leccode3});
    </select>


</mapper>